.register{
    margin-top: 5em;
}

form.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
}

form.register-form .btn{
    align-self: center;
    width: min-content;
}

.register .form-control{
    width: 60%;
}

.register-form:hover,.register-form:focus-within{
    box-shadow: 1px 1px 4px 1px grey;
}