.post-container{
    max-width: 450px;
}

.post-container .custom-truncate{
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 1.2;
    min-height: 10em;
}

.post-container .card-text.truncate-text::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    background: white; /* Adjust background color as needed */
    padding: 0 4px;
  }

  .post-container .card:hover{
    box-shadow: 1px 1px 4px 1px gray;
    cursor: pointer;
  }

  .list-group .list-group-item:nth-child(2n){
    background-color: '#f5f5f5';
  }
  .list-group .list-group-item:nth-child(2n+1){
    color: #000!important;
    background-color: RGBA(248,249,250,var(--bs-bg-opacity,1))!important;
  }

  .list-group .list-group-item:nth-child(2n):hover{
    color: #000!important;
    background-color: #e6f0ff !important;
  }
  .list-group .list-group-item:nth-child(2n+1):hover{
    color: #000!important;
    background-color: #e6f0ff !important;
  }